label.toggle {width:30px; height:12px; position:absolute; right:10px; top:10px; cursor:pointer; border-top:4px solid #fff; border-bottom:4px solid #fff; display:none;}
label.toggle:before {content:""; display:block; width:30px; height:4px; background:#fff; position:absolute; left:0; top:4px;}
label.toggle span {position:absolute; left:-99999px;}

input#toggle {position:absolute; display:none;}

.menuHolder {
width:100%; 
position:relative; 
right:0;
top:0; 
background:#09476C; 
z-index:400; 
height:50px; 
text-align:center;
}

.menu {display:inline-block;
*display:inline; /* for IE7 */
width: 100%;
background-color: #09476C;
margin-top:8px;
padding: 5px 5px 0 5px;
	
}
.menu ul {margin:0; padding:0; list-style:none; white-space:nowrap; text-align:left;}

.menu li {display:block; position:relative;}

.menu ul ul {position:absolute; left:-99999px; top:50px; padding:10px 0; z-index:0; border-radius:0 0 5px 5px;
-webkit-transition: opacity 0.5s;
-o-transition: opacity 0.5s;
-moz-transition: opacity 0.5s;
transition: opacity 0.5s;
	z-index: 1000;
}
.menu ul ul ul {left:100%; top:auto; margin-top:-35px; border-radius:5px;}
.menu ul li.left > ul {left:auto; right:0; top:50px;}
.menu ul li.left ul li > ul {left:auto; right:100%; top:auto; margin-top:-35px;}

.menu > ul {margin:0 auto; display:inline-block;}
.menu > ul {*display:inline;}
.menu > ul > li {float:left; position:relative;}

.menu ul {background:#09476C;}

.menu a {display:block; text-transform:uppercase; font:normal 20px/25px 'calibri', 'texgyreadventorbold', 'lucida sans', arial, sans-serif; color:#fff; text-decoration:none; padding:0 30px 0 20px; position:relative; z-index:10;}
.menu > ul > li > a {line-height:50px; height:50px;}
.menu > ul > li > b {display:block; position:relative; width:100%; margin-top:-50px; height:50px; background: url(trans.gif); z-index:100;
-webkit-transition:0s 0.5s;
-o-transition:0s 0.5s;
-moz-transition:0s 0.5s;
transition:0s 0.5s;
*display:none; /* for IE7 */
}

.menu ul ul > li > b {display:block; position:relative; margin-top:-25px; width:100%; height:25px; background: url(trans.gif)); z-index:100;
-webkit-transition:0s 0.5s;
-o-transition:0s 0.5s;
-moz-transition:0s 0.5s;
transition:0s 0.5s;
}

.menu li:hover > b {width:0;}
.menu li.left ul a {text-align:right; padding:0 20px 0 30px;}

.menu li:hover > a,
.menu ul li:hover > a {color:#fff; background:#D46527; text-decoration:none;}

.menu ul li a.hassub {background: url(arrow-down.png) no-repeat right center;}
.menu li ul li a.hassub {background: url(arrow-right.png) no-repeat right center;}
.menu li.left ul li a.hassub {background: url(arrow-left.png) no-repeat left center;}
.menu ul li:hover > a.hassub {color:#fff; background-color:#D46527; text-decoration:none;}
.menu li.left ul li:hover > a.hassub {color:#fff; background-color:#D46527; text-decoration:none;}


.menu ul ul,
.menu ul ul ul,
.menu ul li.left > ul,
.menu ul li.left ul li > ul {left:-9999px; right:auto; opacity:0;}

.menu ul li:hover > ul {left:0; opacity:1;}
.menu ul ul li:hover > ul {left:100%; opacity:1;}
.menu ul li.left:hover > ul {left:auto; right:0; opacity:1;}
.menu ul li.left ul li:hover > ul {left:auto; right:100%; opacity:1;}

.menu ul ul li {
	margin-bottom:8px;
}

/* for narrow screns, tablets and smartphones */
/*
@media only screen and (max-width: 768px) {
.wrapper {width:100%;}
label.toggle {display:block;}
.menuHolder {width:100%; position:relative; right:0; top:0; background:#09476C; z-index:400; height:0; text-align:center; padding-top:40px; z-index:10;}
.menu {width:300px; height:300px; overflow:scroll; overflow-x:hidden; margin:6px auto; display:none; background:#09476C; border-radius:10px;
-webkit-overflow-scrolling: touch;
}
.menu ul {margin:0; padding:0; list-style:none; white-space:nowrap; text-align:left; width:250px; -webkit-transform: translate3d(0,0,10);}

.menu li {display:block; position:relative;}

.menu ul ul {position:static; border-radius:0; padding:0;}
.menu ul ul ul {margin-top:0; border-radius:0;}
.menu ul li.left > ul {}
.menu ul li.left ul li > ul {margin-top:0;}

.menu > ul {position:relative; margin:0; padding:20px 0; display:block;}
.menu > ul {}
.menu > ul > li {float:none;}

.menu ul {background:transparent;}

.menu a {display:block; text-transform:uppercase; font:normal 13px/30px 'texgyreadventorbold', 'lucida sans', arial, sans-serif; color:#fff; text-decoration:none; padding:0 30px 0 20px; position:relative; z-index:10;}
.menu > ul > li > a {line-height:30px; height:30px; color:#fc6; font-size:15px;}
.menu > ul > li > b,
.menu ul ul > li > b {display:none;}

.menu li.left ul a {text-align:left; padding:0 30px 0 20px;}

.menu li:hover > a,
.menu ul li:hover > a {color:#fff; background:#D46527; text-decoration:none;}

.menu ul li a.hassub {background:none;}
.menu li ul li a.hassub {background:none;}
.menu li.left ul li a.hassub {background:none;}
.menu ul li:hover > a.hassub {color:#fff; background-color:#D46527; text-decoration:none;}
.menu li.left ul li:hover > a.hassub {color:#fff; background-color:#D46527; text-decoration:none;}


.menu ul ul,
.menu ul ul ul,
.menu ul li.left > ul,
.menu ul li.left ul li > ul {left:-9999px; right:auto; opacity:1;}

.menu ul ul li a:before {content:"〉 "; text-indent:10px;}
.menu ul ul ul li a {text-indent:20px;}
.menu ul ul ul ul li a {text-indent:30px;}

#toggle:checked ~ .wrapper #wrapper .menu {display:block;}
#toggle:checked ~ .wrapper .overlay {position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(255,255,255,0.4); z-index:10;}

.toggle {display:block;}
}*/