#contain {
	background-color: #D46527;
}

#Main {
	margin: 1em 1em 1em 1em;
	padding-top: 1em;
	padding-bottom: 1em;
    text-align: center;
	align-content: center;
	background-color: #fff;
}

#left {
	margin: 0 auto;
}

#right {
	margin: 0 auto;
}

input {
	text-align: center;
}

#signInStart {
	margin-top: 2em;
}

@media (max-width:49em){
    #left{
        display: none;
    }
	#right{
		display: none;
	}
}